@import '../../styles/shared';


.user-info{
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  background-color: $white;
  padding: 1em;
  transform: scale(0.9);
  transition: transform 0.3s cubic-bezier(0,0,0.3, 1);
  will-change: transform;
  & ul {
    margin: 0;
    list-style: none;
    li{
      margin-top: 0.5em;
    }
  }

  &:hover{
    transform: scale(1);
  }
}
