@import '../../styles/shared';

.search-input{
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  background-color: $white;
  border-radius: 6px 6px 6px 6px;
  color: $gray;

  display: flex;
  align-content: space-between;

  button, input{
    border-radius: 6px 6px 6px 6px;
    padding: 1.5rem;
    border: none;
  }

  button{
    background: transparent;
    cursor: pointer;
    fill: $gray;
    float: left;
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
    &:focus{
      outline: none;
    }
    &:hover{
      fill: $darkgray;
    }
  }
  .search-icon{
    order: 1;
  }

  .clear-icon{
    order: 3;
  }

  input{
    order: 2;
    width: 90%;
    transition: font-size 0.2s cubic-bezier(0, 0, 0.3, 1);
    &:focus{
      outline: none;
      font-size: 120%;
    }
    &:focus + button{
      transform: scale(0.6);
    }
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .search-input{
    button, input{
      padding: 0.5em;
    }
    button{
      transform: scale(0.6);
    }
  }
}